//
//  SecretConfig.xcconfig
//  PhoenixSDK
//
//  Created by 신동현 on 5/24/24.
//  Copyright © 2024 CocoaPods. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_NATIVE_APP_KEY = d2b8703f5ba50109f3ed4f31a6092396
KAKAO_REST_API_KEY = 40015721cf561a0516f6a03ff61280de
